$primary-color: #37A87F;
$secondary-color-strong: rgba(96,123,139,0.86);
$white-strong: rgba(255,255,255,0.72);
$green-strong: rgba(55, 168, 127, 0.82);
$black-light: rgba(0, 0, 0, 0.54);


$accent-strong: 0.86;
$accent-medium: 0.54;
$accent-strong: 0.36;
