@import "utilities.scss";

html, body {
	background: #FAFAFA;
}
.label-text {
	color: $black-light;
}
.navbar {
	border-radius: 0;
	background: $secondary-color-strong;
	.nav a,
	.navbar-brand {
	color: $white-strong;
	}
}
.logo-map {
	text-align: center;
	color: #37A87F;
	img {
		opacity: 0.82;
	}
}

