<h1>About</h1>
<div class="row">
	<div class="col-md-8">
		<p>This application was developed during a
		<a href="http://hack4reno.com/" target="_blank">hackathon event in Reno, NV</a>
		on October 25th, 2014.</p>

		<p>
		The reno.crash.report team came together at theHack4Reno event held at the
		Reno Collective on October 25th and 26th of 2014.</p>

		<p>The team came together with the goal of utilizing accident data from the
				Reno Police Department to create a web application that can be used to
				identify areas of high accidents. We collaborated, designed, and implemented this resource in less
				than two days.</p>
		</p>
	</div>
</div>
<h2>The Team</h2>
<div class="row center-block bios">
	<div class="col-md-4 col-md-offset-2 bio">
		<img src="images/nick-small.jpg" class="img-circle">
		<p class="name">Nick Ocampo</p>
		<p class="description">Brave Man</p>
		<a href="https://github.com/WeHateNick" class="github"><span class="fa fa-3x fa-github"></span></a>
	</div>
	<div class="col-md-4 bio">
		<img src="images/nick-small.jpg" class="img-circle">
		<p class="name">Nick Ocampo</p>
		<p class="description">Brave Man</p>
		<a href="https://github.com/WeHateNick" class="github"><span class="fa fa-3x fa-github"></span></a>
	</div>
</div>
<div class="row center-block bios">
	<div class="col-md-4 bio">
		<img src="images/nick-small.jpg" class="img-circle">
		<p class="name">Nick Ocampo</p>
		<p class="description">Brave Man</p>
		<a href="https://github.com/WeHateNick" class="github"><span class="fa fa-3x fa-github"></span></a>
	</div>
	<div class="col-md-4 bio">
		<img src="images/nick-small.jpg" class="img-circle">
		<p class="name">Nick Ocampo</p>
		<p class="description">Brave Man</p>
		<a href="https://github.com/WeHateNick" class="github"><span class="fa fa-3x fa-github"></span></a>
	</div>
	<div class="col-md-4 bio">
		<img src="images/nick-small.jpg" class="img-circle">
		<p class="name">Nick Ocampo</p>
		<p class="description">Brave Man</p>
		<a href="https://github.com/WeHateNick" class="github"><span class="fa fa-3x fa-github"></span></a>
	</div>
</div>