<h1>About</h1>

<h2>Purpose</h2>

<p>This application was developed during a
<a href="http://hack4reno.com/" target="_blank">hackathon event in Reno, NV</a>
on October 25th, 2014.</p>

<p>
The crash.events team came together at the Hack4Reno event held at the
Reno Collective on October 25th and 26th of 2014.

The team came together with the goal of utilizing accident data from the
Reno Police Department to create a web application that can be used to
identify areas of high accidents.
The team collaborated, designed, and implemented this resource in less
than two days.
</p>
