<div class="center-block logo-map homepage">
  <img src="/images/homepage-logo.png">
  <h1>Reno Crash Events</h1>
  <p>Find out when and where <br> accidents are likely to happen</p>
</div>

<h2>Leveraging Data for Safe Driving</h2>

<p>
This resource was built by your fellow Renoites for your benefit! Five 
technologists that attended the Hack4Reno event met (some for the first time) 
and formed the crash.events team. The team consists designers, programmers, 
front-end developers, and IT professionals with a wide range of experience and skill sets.
 Many in the local Reno technology industry are like-minded with the will to contribute 
 and make a difference. Crash.events is the outcome of the team's efforts to use city
 data in a creative way. This was all made possible by the City of Reno’s efforts to 
 open data for positive use for the benefit of Reno citizens.
</p>

<p>
There are many ways to leverage the this data for driving:
</p>
<ul>
  <li>Trace your route to work</li>
  <li>Find your child's school and browse the surrounding area</li>
  <li>Follow frequently used routes</li>
  <li>Find your home and look at the local area for trouble areas</li>
  <li>Check the data for home locations of friends and family</li>
</ul>

<h2>Built for Reno Citizens, By Reno Citizens</h2>
<p>
This resource was built by your fellow Renoites for your benefit! Five technologists 
that attended the Hack4Reno event met (some for the first time) and formed the crash.events team. 
The team consists designers, programmers, front-end developers, and IT professionals with a wide
range of experience and skill sets. Many in the local Reno technology industry are like-minded with 
the will to contribute and make a difference. Crash.events is the outcome of the team's efforts to
use city data in a creative way. This was all made possible by the City of Reno’s efforts to open data
for positive use for the benefit of Reno citizens. 
</p>

<p>
The Mayer of Reno signed a proclamation declaring Hack4Reno a 2-day civic “hack-a-thon” event 
held at the Reno Collective on October 25th and 26th of 2014. The City of Reno is driving the 
open government initiative to put data in the hands of local citizens that can put the information 
to beneficial use. We are proud to contribute to this noble effort. 
</p>
