<h2>Leveraging Data for Safe Driving</h2>

<p>
Accidents are no fun, dangerous, and heartbreaking, especially if they
involve injuries.

Use the reno.crash.report to find safe routes and avoid areas where
heavy accidents occur.

Use it to follow your drive to work to find trouble spots and avoid them or
drive with heightened awareness.

Awareness of your surroundings is one of the keys to safe driving -- knowing
where to take extra precaution and drive a little slower or increase
the distance from the car in front of you.
</p>

<p>
There are many ways to leverage the this data for driving:
</p>
<ul>
  <li>Trace your route to work</li>
  <li>Find your child's school and browse the surrounding area</li>
  <li>Follow frequently used routes</li>
  <li>Find your home and look at the local area for trouble areas</li>
  <li>Check the data for home locations of friends and family</li>
</ul>

<h2>Built for Reno Citizens, By Reno Citizens</h2>
<p>
This resource was built by your fellow Reno-ites for your benefit!

Five technologists who attended the Hack4Reno event met (some for the
first time) and formed the crash.report team.

The team consists designers, programmers, front-end developers,
and IT professionals with a wide range of experience and skill sets.

Many in the local Reno technology industry are like-minded with the will
to contribute and make a difference.

The efforts of thereno.crash.report team’s creative use of existing
City of Reno data.

This was all made possible by the City of Reno’s efforts to open data
for positive use for the benefit of Reno citizens.
</p>

<p>
The Mayor of Reno signed a proclamation declaring Hack4Reno a 2-day
civic "hack-a-thon" event held at the Reno Collective on
October 25th and 26th of 2014.

The City of Reno is driving the open government initiative to put data
in the hands of local citizens that can put the information to beneficial use.

We are proud to contribute to this noble effort.
</p>
