<h1>Insights</h1>

<p>One of the goals of crash.events is to provide a simplified method for 
identifying areas where there appears to be a higher incidence of accidents.
The visualization of data helps to identify areas in Reno where there are clusters of accidents, 
and see how the frequency and locations of accidents changes with the seasons. 

Here are some insights with the data:</p>

<section>
  <h2>Street Accident Frequency</h2>
  <p>The majority of accidents occur on Virginia Street, a well trafficked road popular with seasonal events</p>
</section>

<section>
  <h2>Notable Intersections</h2>
  <p>The Spaghetti Bowl (the Highway 80 and 395 interconnect)</p>
</section>

<section>
  <h2>Seasonal Correlation</h2>
  <p>Winter brings about adverse driving conditions, such as rain, snow, and icy roads. We looked for clusters of 
  accidents during winter and found the top accident areas. While there are many clusters, here are the areas that stand out:
  <ul>
	  <li>Highway 80 and North McCarran Blvd</li>
	  <li>The Spaghetti Bowl (the Highway 80 and 395 interconnect)</li>
	  <li>Lemon Drive between 395 and Buck Dr</li>
	  <li>North Virginia St and Hwy 80</li>
	  <li>Plumb Ln and Locust St</li>
	  <li>E Parr Blvd and 395</li>
	  <li>E Plumb Ln and 395</li> 
	  <li>N McCarran and Mae Anne Ave</li>
  </ul>
</section>
