<div class="center-block logo-map">
  <img src="/images/logo.png">
  <h1>Reno Crash Events</h1>
</div>
<div class="row">
  <div class="row">
    <div class="col-md-12">
      <span aria-hidden="true" class="icon calendar"></span>
      <p class="label-text range">Range: 2009 - 2014</p>
    </div>
  </div>
  <div class="col-md-10">
    <div class="map">
      <img src="/images/map.png">
    </div>
  </div>
  <div class="col-md-2">
    <p class="label-text">Seasons: All</p>
    <ul class="seasons">
      <li class="season"><a href="#"><img src="/images/icons/flower.svg" alt="Spring"></a></li>
      <li class="season"><a href="#"><img src="/images/icons/sun.svg" alt="Summer"></a></li>
      <li class="season"><a href="#"><img src="/images/icons/leaf.svg" alt="Fall"></a></li>
      <li class="season"><a href="#"><img src="/images/icons/snow.svg" alt="Winter"></a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-10 btn-group">
    <div class="btn btn-default">2009</div>
    <div class="btn btn-default">2010</div>
    <div class="btn btn-default">2011</div>
    <div class="btn btn-default">2012</div>
    <div class="btn btn-default">2013</div>
    <div class="btn btn-default">2014</div>
  </div>
</div>

<div class="row">
  <div class="pull-left">
    <p>Filter By:</p>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Year
      </label>
    <p class="label-text">Seasons: All</p>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        Month
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>What is this data?</h2>
    <p>Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. Umami tattooed sriracha meggings pickled Marfa Blue Bottle High Life next level four loko PBR. Keytar pickled next level keffiyeh drinking vinegar street art. Art party vinyl Austin, retro whatever keytar mixtape. Pickled ethnic farm-to-table distillery ugh chia.</p>

    <p>Ethical Odd Future narwhal, mlkshk fap asymmetrical next level High Life literally cred blog. Banh mi swag art party, fashion axe you probably haven't heard of them stumptown tousled food truck post-ironic quinoa bicycle rights aesthetic keytar Pitchfork.</p>
    <h2>Who is this data for?</h2>
    <p>Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. Umami tattooed sriracha meggings pickled Marfa Blue Bottle High Life next level four loko PBR. Keytar pickled next level keffiyeh drinking vinegar street art. Art party vinyl Austin, retro whatever keytar mixtape. Pickled ethnic farm-to-table distillery ugh chia.</p>

    <p>Ethical Odd Future narwhal, mlkshk fap asymmetrical next level High Life literally cred blog. Banh mi swag art party, fashion axe you probably haven't heard of them stumptown tousled food truck post-ironic quinoa bicycle rights aesthetic keytar Pitchfork.</p>
  </div>
</div>
