<div class="center-block logo-map">
  <img src="/images/logo.png">
  <h1>Reno Crash Events</h1>
</div>
<div class="row">
  <div class="row">
    <div class="col-md-12 range-container">
      <span aria-hidden="true" class="icon calendar"></span>
      <p class="label-text range">Range: 2009 - 2014</p>
    </div>
  </div>
  <div class="col-md-10">
    {{crash-map}}
  </div>
  <div class="col-md-2">
    <p class="label-text">Seasons: All</p>
    <ul class="seasons">
      <li class="season"><a href="#"><img src="/images/icons/flower.svg" alt="Spring"></a></li>
      <li class="season"><a href="#"><img src="/images/icons/sun.svg" alt="Summer"></a></li>
      <li class="season"><a href="#"><img src="/images/icons/leaf.svg" alt="Fall"></a></li>
      <li class="season"><a href="#"><img src="/images/icons/snow.svg" alt="Winter"></a></li>
    </ul>
  </div>
</div>

<div class="row">
  <ul class="date-range-controls">
    <li>2009</li>
    <li>2010</li>
    <li>2011</li>
    <li>2012</li>
    <li>2013</li>
    <li>2014</li>
  </ul>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="pull-left">
      <p class="label-text">Filter By:</p>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Year
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Month
        </label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>What is this data?</h2>

    <p>
    The data used in the crash.events project comes from the Reno
    Police Department in conjunction with the Hack4Reno annual event.

    The City of Reno supported the Hack4Reno through open government
    initiatives that puts city data in the hands of able civic minded
    technologists, designers, programmers, IT professionals and others to
    create productive resources.
    </p>

    <p>
    The data set for this project includes 5 years historical accident
    data with address, gps location and date. The years of historical data
    are important and used to visually identify high accident areas on an
    interactive map.
    </p>

    <h2>Why did we make this?</h2>

    <p>
    In one word: <strong>Safety</strong>.

    The intention of the crash.events resource is to enable
    citizens and city stakeholders with a means to identify heavy
    accident areas and take appropriate action.

    crash.events enables people to look at areas they plan to
    travel through to see if there are any instances of heavy accidents.

    It also allows officials to identify areas of heavy accidents so that
    they can take appropriate action.
    </p>

    <p>
    Areas with heavy accidents and avoided or extra caution can be taken.
    Enabling citizens to make safer decisions benefits the community as
    a whole.
    </p>

  </div>
</div>
